<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wei.multidatasource.second.mapper.SecondTestMapper">
    <resultMap id="BaseResultMap" type="com.wei.multidatasource.second.entity.SecondTestEntity">
        <result column="id" javaType="String" property="id"></result>
        <result column="name" javaType="String" property="name"></result>
    </resultMap>
    <select id="findAll" resultType="com.wei.multidatasource.second.entity.SecondTestEntity">
        select * from  test;
    </select>

</mapper>
