<div>
    <includedetail>
        <style>
            .body{
                width: 80%;
                height: 560px;
                margin: auto;
            }
            .header{
                height: 30%;
                width: 100%;
                background-color: aquamarine;
            }
            .content{
                height: 40%;
                width: 100%;
                background-color:royalblue;
            }
            .footer{
                height: 30%;
                width: 100%;
                background-color:greenyellow;
            }
        </style>
        <div class="body">
            <div class="header">

            </div>
            <div class="content">

            </div>
            <div class="footer">

            </div>

        </div>
    </includedetail>

</div>